config.stopBubbling=true
lombok.addLombokGeneratedAnnotation=true
lombok.addNullAnnotations=jetbrains

lombok.val.flagUsage=error
lombok.var.flagUsage=error
lombok.data.flagUsage=error
lombok.value.flagUsage=error
lombok.builder.flagUsage=error
lombok.sneakyThrows.flagUsage=error
lombok.synchronized.flagUsage=error
lombok.locked.flagUsage=error
lombok.with.flagUsage=error
lombok.getter.lazy.flagUsage=error
lombok.log.flagUsage=error
lombok.experimental.flagUsage=error
lombok.cleanup.flagUsage=error
lombok.delegate.flagUsage=error
lombok.fieldDefaults.flagUsage=error
lombok.accessors.flagUsage=allow